@model PhotoGallery.Domain.Entities.PhotoInfoModel
          
<div id="ModalPhoto" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <!--<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">@Model.Name</h3>
  </div>
  <div class="modal-body">
    <div>
        <img class="img-polaroid" src="@Url.Action("GetImage", "Home", new { photo = @Model.Name })"/>
    </div>
    <p>Описание: @Model.Description</p>
    <p>Дата загрузки: @Model.UploadedDate</p>
  </div>-->
  <div>
        <img class="img-polaroid" src="@Url.Action("GetImage", "Home", new { photo = @Model.Name })"/>
    </div>
</div>

<script>    
$(document).ready(function () {
    $('#ModalPhoto').modal('show');
    });
</script>